<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sports Scheduler</title>
</head>

<script>
    var token = document
                      .querySelector('meta[name = "csrf-token"]')
                      .getAttribute('content');
    function deleteSport(id){
    fetch(`/sportsession`,{
      method : 'DELETE',
      headers : {"content-type" : 'application/json'},
      body: JSON.stringify({
        id: id,
        name: '<%= getUser.role %>',
        '_csrf': token
      })
    })
    .then((res) =>{
        
      if(res.ok){
        window.location.assign('/admin');
      }
       
    })
    .catch((error)=> console.log(error)); 
}
</script>

<body>
    <%- include('header',{page: "signout"})%>
    <div class="container m-auto mt-10 p-auto">
        <div>
            <p class="text-6xl mb-5"><%= name %></p>
            <% if( getUser.role== 'admin') { %>
                <a href="#" class="text-right my-10 text-lime-950">Edit</a>    
                <a href="#" onclick="deleteSport(<%= sportID %>)" class="text-right mx-10 text-lime-950">Delete</a>    
            <% } %>
        </div>
        <p>Sport Admin: <%= getUser.fname %> <%= getUser.lname%> </p>
        <br>
        <p class="text-2xl">Sessions</p>
        <% for(var i=0; i<allSessions.length; i++) { %>
        <a href="/session/<%= allSessions[i].id %>">
            <div class="w-auto mt-10 rounded-lg flex text-white px-10 py-4 bg-lime-950 h-16 cursor-pointer overflow-hidden hover:bg-white hover:text-lime-950 border-2 border-lime-950">
                <%= allSessions[i].time %>
                <p class="text-right ml-10">
                    <%= ( allSessions[i].noplayers - allSessions[i].playername.length )%> slots available
                </p> 
            </div>
        </a>
        <% } %>
    </div>
    <div class="container m-auto mt-10 p-auto text-xl gap-10" >
        <a href="/createsession/<%= sportID %>" >Create a new session</a>
        <a href="#" class="px-10">View previous sessions</a>
    </div>
    <%- include('footer')%>
</body>
</html>